@font-face{font-family:'Fira Code';font-style:normal;font-weight:400;src:local('Fira Code'),url('FreeMono.ttf') format('truetype')}
@font-face{font-family:'Fira Code';font-style:normal;font-weight:700;src:local('Fira Code'),url('FreeMonoBold.ttf') format('truetype')}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'),url('FreeSans.ttf') format('truetype')}
@font-face{font-family:'Roboto';font-style:normal;font-weight:500;src:local('Roboto'),url('FreeSansBold.ttf') format('truetype')}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto'),url('FreeSansBold.ttf') format('truetype')}
